.edit-credentials{
    color: #FFFFFF;
    width: 100%;
    padding: 5px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 99px;
    background-color: #3CAC3D;
    cursor: pointer;
}

.edit-password-eye-icon {
    position: absolute;
    top: 33.5%;
    left: 46%;
    cursor: pointer;
}